.header {
  background-color: #097b8f;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: end;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 40px;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.2s;
}

.nav a:hover,
.nav a.active {
  text-decoration: underline;
}
/* .link {
  color: var(--color-light);
  font-size: var(--font-medium);
  font-weight: 700;

  text-transform: uppercase;

  transition-property: color, background-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: var(--animation-cubicBezier);

  transform: scale(0.9);
} */
